@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Anathema';
    src: url('/src/assets/Anathema.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'copyduck';
    src: url('/src/assets/Copyduck.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'campana';
    src: url('/src/assets/CampanaScript.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'blacksword';
    src: url('/src/assets/Blacksword.otf');
    font-weight: normal;
    font-style: normal;
}


@font-face{
    font-family: 'quick';
    src: url('/src/assets/Quickcounters.otf');
    font-weight: normal;
    font-style: normal;
}

.text-gradient1 {
    background: linear-gradient(to right,#191970,	#1768a3); 
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.text-gradient2 {
    background: linear-gradient(to right,#0b27e3,	#73dcf1); 
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

/* btn1 style */

.btn1 {
    background: linear-gradient(to bottom right, #60a5fa, #1e3a8a);
    font-weight: bold; 
    font-size: 1.25rem; 
    color: white; 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  .btn1:hover {
    font-size: 1.4rem; 
    box-shadow: rgba(0, 0, 0, 0.45) 0px 10px 20px; 
    cursor: pointer; 
  }

/* btn2 style */


  .btn2 {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1); 
    font-size: 1.1rem; 
    background: linear-gradient(to bottom right, #eff390, #ed973b);
    font-weight: 500; 
    position: relative;
    padding: 0.3rem 0.6rem; 
    border: 2px solid rgba(249, 250, 251, 1); 
    border-radius: 9999px; 
    overflow: hidden;
    transition: all 0.3s ease;
    z-index: 1;
  }
  
  .btn2:hover {
    color: rgba(249, 250, 251, 1); 
  }
  
  .btn2::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.7s ease;
    left: -100%;
    top: 0;
    border-radius: 9999px;
    background-color: rgba(16, 185, 129, 1); 
    z-index: -10;
    transform: scale(1);
  }
  
  .btn2:hover::before {
    left: 0;
    transform: scale(1.5);
  }
  
  .btn2 svg {
    width: 2rem; 
    height: 2rem; 
    transform: rotate(45deg);
    transition: transform 0.3s ease, background-color 0.3s ease;
    border: 1px solid rgba(55, 65, 81, 1); 
    padding: 0.5rem; 
    border-radius: 9999px; 
    color: rgba(249, 250, 251, 1); 
    background-color: rgba(249, 250, 251, 1); 
  }
  
  .btn2:hover svg {
    transform: rotate(90deg);
    background-color: rgba(249, 250, 251, 1); 
    border: none;
  }
  
  .btn2 svg path {
    fill: rgba(31, 41, 55, 1); 
  }
  
  .btn2:hover svg path {
    fill: rgba(31, 41, 55, 1); 
  }
  
  